{block content}

<nav class="mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{plink Homepage:default}" class="ajax">Home</a></li>
        <li class="breadcrumb-item"><a href="{plink Category:view $product->category->slug}" class="ajax">{$product->category->name}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{$product->name}</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12 col-md-6">
        <img src="{$product->thumbnail}" class="img-thumbnail w-100" alt="{$product->name}" style="object-fit: contain; aspect-ratio: 1 / 1">
    </div>

    <div class="col col-md-6">
        <h1 class="title" n:block="title">{$product->name}</h1>

        <h2 class="subtitle">{$product->price|price}</h2>

        <div class="mt-4">{$product->description}</div>

        <ul class="list-group mt-4">
            {foreach $product->getGrouppedValues() as $attribute => $values}
            <li class="list-group-item"><strong>{$attribute}:</strong> {implode(', ', $values)}</li>
            {/foreach}
        </ul>

        <div class="">
            {control "productCartForm"}
        </div>
    </div>
</div>
