extensions:
    leanmapper: App\Extensions\LeanMapperExtension

leanmapper:
    db:
        driver: pdo
        dsn: 'mysql:host=db;port=3306;dbname=database;user=user;password=password'

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

di:
    export:
        parameters: no
        tags: no

services:
    - App\Router\RouterFactory::createRouter

    - App\Model\Authenticator\Authenticator
    - App\Model\Authorizator\Authorizator

    - App\Model\Repositories\UserRepository
    - App\Model\Repositories\ResourceRepository
    - App\Model\Repositories\RoleRepository
    - App\Model\Repositories\PermissionRepository
    - App\Model\Repositories\ForgottenPasswordRepository
    - App\Model\Repositories\ProductRepository
    - App\Model\Repositories\CategoryRepository
    - App\Model\Repositories\AttributeRepository

    - App\Model\Facades\UsersFacade
    - App\Model\Facades\CategoriesFacade
    - App\Model\Facades\ProductsFacade
    - App\Model\Facades\ImagesFacade
    - App\Model\Facades\AttributesFacade

    - App\Latte\Filters\Price

    - App\StorefrontModule\Components\Header\HeaderFactory
    - App\StorefrontModule\Components\UserLoginForm\UserLoginFormFactory
    - App\StorefrontModule\Components\UserRegistrationForm\UserRegistrationFormFactory

    - App\AdminModule\Components\CategoryEditForm\CategoryEditFormFactory
    - App\AdminModule\Components\ProductEditForm\ProductEditFormFactory
    - App\AdminModule\Components\AttributeEditForm\AttributeEditFormFactory

    nette.latteFactory:
        setup:
            - addFilter(price, @App\Latte\Filters\Price)
