{block content}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <div class="card mt-4">
            <div class="card-header">
                <h1 n:block="title">Login</h1>
            </div>
            <div class="card-body">
                {control userLoginForm}
            </div>
            <div class="card-footer">
                Don't have an account? Register <a href="{plink User:register}">here</a>!
            </div>
        </div>
    </div>
</div>
