{block content}

<div class="card w-25 m-auto mt-4">
    <div class="card-header">
        <h1 n:block="title">Register</h1>
    </div>
    <div class="card-body">
        {control userRegistrationForm}
    </div>
</div>
