{block content}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <div class="card mt-4">
            <div class="card-header">
                <h1 n:block="title">Register</h1>
            </div>
            <div class="card-body">
                {control userRegistrationForm}
            </div>
        </div>
    </div>
</div>
