{block content}

<h1 n:block="title" class="mt-4">Success!</h1>

<p>Your order has been successfully finished. we will contact you soon with information about payment.</p>

<div class="pt-4">
    <img src="/images/success.gif">
</div>

<div class="float-right pt-3">
    <a class="btn btn-primary" href="{plink list}">
        View your previous orders
    </a>
</div>
