{block title}{$cmsPage->name}{/block}

{block content}

<nav class="mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{plink Homepage:default}" class="ajax">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{$cmsPage->name}</li>
    </ol>
</nav>

<div>{$cmsPage->content|noescape}</div>
